# Librairies et importation

In [1]:
import pandas as pd
import os

In [2]:
# Load datasets
DF_forum = pd.read_csv('forum_fictif.csv')
DF_cloud = pd.read_csv('cloud_platform_eng_fictif.csv')
DF_dataIA = pd.read_csv('dataIA_fictif.csv')
DF_productdesign = pd.read_csv('productdesign_fictif.csv')
DF_softeng = pd.read_csv('soft_eng_fictif.csv')
DF_mairie_frug_campus = pd.read_csv('mairie_frug_campus_fictif.csv')

# Cr√©ation des bases de fichiers

In [3]:
# Create a new DataFrame from the initial one for transformations
data_forum = DF_forum.iloc[:, 2:6].copy()  # Copies columns B to F as the base for the new DataFrame
data_forum['quartier'] = 'Forum'
data_forum['etabli'] = 'Aucun'

data_cloud = DF_cloud.iloc[:, 2:6].copy()
data_cloud['quartier'] = 'Cloud & Platform Engineering'
data_cloud['etabli'] = 'Aucun'

data_dataIA = DF_dataIA.iloc[:, 2:6].copy()
data_dataIA['quartier'] = 'Data & IA'
data_dataIA['etabli'] = 'Aucun'

data_productdesign = DF_productdesign.iloc[:, list(range(2,6)) + [49]].copy()
data_productdesign['quartier'] = 'Product & Design'

data_softeng = DF_softeng.iloc[:, list(range(2,6)) + [49]].copy()
data_softeng['quartier'] = 'Software engineering'

data_mairie_frug_campus = DF_mairie_frug_campus.iloc[:, 2:7].copy()
data_mairie_frug_campus.rename(columns={'quartier': 'quartier'}, inplace=True)
data_mairie_frug_campus['etabli'] = 'Aucun'

In [4]:
display(data_forum.head())
display(data_cloud.head())
display(data_dataIA.head())
display(data_productdesign.head())
display(data_softeng.head())
display(data_mairie_frug_campus.head())

         anciennete   campement  OFA          tribu quartier etabli
0     Plus de 7 ans  OCTO Paris  Oui  User Research    Forum  Aucun
1     Moins de 1 an  OCTO Paris  Oui  User Research    Forum  Aucun
2  Entre 3 et 7 ans  OCTO Paris  Oui  User Research    Forum  Aucun
3     Moins de 1 an  OCTO Paris  Oui  User Research    Forum  Aucun
4  Entre 3 et 7 ans  OCTO Paris  Oui  User Research    Forum  Aucun

,anciennete,campement,OFA,tribu,quartier,etabli
0,Plus de 7 ans,OCTO Paris,Oui,User Research,Cloud & Platform Engineering,Aucun
1,Moins de 1 an,OCTO Paris,Oui,User Research,Cloud & Platform Engineering,Aucun
2,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,Cloud & Platform Engineering,Aucun
3,Moins de 1 an,OCTO Paris,Oui,User Research,Cloud & Platform Engineering,Aucun
4,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,Cloud & Platform Engineering,Aucun

         anciennete   campement  OFA          tribu   quartier etabli
0     Plus de 7 ans  OCTO Paris  Oui  User Research  Data & IA  Aucun
1     Moins de 1 an  OCTO Paris  Oui  User Research  Data & IA  Aucun
2  Entre 3 et 7 ans  OCTO Paris  Oui  User Research  Data & IA  Aucun
3     Moins de 1 an  OCTO Paris  Oui  User Research  Data & IA  Aucun
4  Entre 3 et 7 ans  OCTO Paris  Oui  User Research  Data & IA  Aucun

         anciennete   campement  OFA          tribu  etabli          quartier
0     Plus de 7 ans  OCTO Paris  Oui  User Research  Design  Product & Design
1     Moins de 1 an  OCTO Paris  Oui  User Research  Design  Product & Design
2  Entre 3 et 7 ans  OCTO Paris  Oui  User Research  Design  Product & Design
3     Moins de 1 an  OCTO Paris  Oui  User Research  Design  Product & Design
4  Entre 3 et 7 ans  OCTO Paris  Oui  User Research  Design  Product & Design

,anciennete,campement,OFA,tribu,etabli,quartier
0,Plus de 7 ans,OCTO Paris,Oui,User Research,Web front,Software engineering
1,Moins de 1 an,OCTO Paris,Oui,User Research,Web front,Software engineering
2,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,Web front,Software engineering
3,Moins de 1 an,OCTO Paris,Oui,User Research,A,Software engineering
4,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,A,Software engineering

         anciennete   campement  OFA quartier          tribu etabli
0     Plus de 7 ans  OCTO Paris  Oui   Mairie  User Research  Aucun
1     Moins de 1 an  OCTO Paris  Oui   Mairie  User Research  Aucun
2  Entre 3 et 7 ans  OCTO Paris  Oui   Mairie  User Research  Aucun
3     Moins de 1 an  OCTO Paris  Oui   Mairie  User Research  Aucun
4  Entre 3 et 7 ans  OCTO Paris  Oui   Mairie  User Research  Aucun

# Transformation Forum

In [5]:
# Regroupement des colonnes pour moyennes + cr√©ation des nouvelles colonnes

columns_activites_tribu_forum = DF_forum[['tribu1', 'tribu2', 'tribu3', 'tribu4']]
data_forum['activites_tribu'] = columns_activites_tribu_forum.mean(axis=1, skipna=True)

columns_interactions_tribu_forum = DF_forum[['tribu5', 'tribu6', 'tribu7', 'tribu8']]
data_forum['interactions_tribu'] = columns_interactions_tribu_forum.mean(axis=1, skipna=True)

data_forum['tribu_total'] = data_forum[['activites_tribu', 'interactions_tribu']].mean(axis=1, skipna=True)

columns_activites_QA_forum = DF_forum[['QA1', 'QA2', 'QA3', 'QA4']]
data_forum['activites_QA'] = columns_activites_QA_forum.mean(axis=1, skipna=True)

columns_interactions_QA_forum = DF_forum[['QA5', 'QA6', 'QA7', 'QA8']]
data_forum['interactions_QA'] = columns_interactions_QA_forum.mean(axis=1, skipna=True)

data_forum['QA_total'] = data_forum[['activites_QA', 'interactions_QA']].mean(axis=1, skipna=True)

columns_manages_forum = DF_forum[['manages1', 'manages2', 'manages3']]
data_forum['manages'] = columns_manages_forum.mean(axis=1, skipna=True)

data_forum['Es-tu manager/manageuse ?'] = DF_forum['Es-tu manager/manageuse ? ']
data_forum['Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?'] = DF_forum['Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ? ']

columns_manager_forum = DF_forum[['manager1', 'manager2', 'manager3']]
data_forum['manager'] = columns_manager_forum.mean(axis=1, skipna=True)

columns_egalite_forum = DF_forum[['egalitepro1', 'egalitepro2', 'egalitepro3', 'egalitepro4']]
data_forum['egalite_pro'] = columns_egalite_forum.mean(axis=1, skipna=True)

columns_competences_forum = DF_forum[['competencesparcours1', 'competencesparcours2', 'competencesparcours3', 'competencesparcours4']]
data_forum['competences_parcours'] = columns_competences_forum.mean(axis=1, skipna=True)

columns_sante_forum = DF_forum[['santeconditions1', 'santeconditions2', 'santeconditions3', 'santeconditions4', 'santeconditions5']]
data_forum['sante_conditions_travail'] = columns_sante_forum.mean(axis=1, skipna=True)
                                                                                             
data_forum['OCTO_total'] = data_forum[['manages', 'manager', 'egalite_pro', 'competences_parcours', 'sante_conditions_travail']].mean(axis=1, skipna=True)

data_forum['statut6mois'] = DF_forum['statut6mois']

columns_missions_forum = DF_forum[['missions1', 'missions2', 'missions3', 'interco1', 'missionsinterco1', 'missionsinterco2', 'missionsinterco3', 'missionsinterco4', 'fonctionscoeur1', 'fonctionscoeur2']]
data_forum['missions_taches'] = columns_missions_forum.mean(axis=1, skipna=True)

/var/folders/2w/1fpsq_4n4n78qm_g9dv6j9sh0000gn/T/ipykernel_92857/1730290338.py:42: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data_forum['missions_taches'] = columns_missions_forum.mean(axis=1, skipna=True)

In [6]:
display(data_forum.head())

,anciennete,campement,OFA,tribu,quartier,etabli,activites_tribu,interactions_tribu,tribu_total,activites_QA,...,manages,Es-tu manager/manageuse ?,"Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?",manager,egalite_pro,competences_parcours,sante_conditions_travail,OCTO_total,statut6mois,missions_taches
0,Plus de 7 ans,OCTO Paris,Oui,User Research,Forum,Aucun,4.75,3.75,4.25,4.00,...,4.000000,Non,NaN,NaN,4.25,3.75,4.2,4.050000,En mission chez un/des client(s),5.0
1,Moins de 1 an,OCTO Paris,Oui,User Research,Forum,Aucun,3.75,3.75,3.75,5.00,...,6.000000,Non,NaN,NaN,4.50,3.75,3.6,4.462500,En mission chez un/des client(s),3.0
2,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,Forum,Aucun,5.25,2.75,4.00,5.25,...,4.333333,Non,NaN,NaN,5.25,4.50,3.0,4.270833,En mission chez un/des client(s),4.0
3,Moins de 1 an,OCTO Paris,Oui,User Research,Forum,Aucun,5.00,5.00,5.00,4.00,...,3.000000,Non,NaN,NaN,5.50,2.75,3.6,3.712500,En mission chez un/des client(s),5.0
4,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,Forum,Aucun,2.50,2.00,2.25,3.25,...,5.000000,Non,NaN,NaN,3.50,3.50,3.2,3.800000,En mission chez un/des client(s),2.0

In [7]:
print(data_forum.dtypes)

anciennete                                                              object
campement                                                               object
OFA                                                                     object
tribu                                                                   object
quartier                                                                object
etabli                                                                  object
activites_tribu                                                        float64
interactions_tribu                                                     float64
tribu_total                                                            float64
activites_QA                                                           float64
interactions_QA                                                        float64
QA_total                                                               float64
manages                                                                float64
Es-tu manager/manageuse ?                                               object
Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?    float64
manager                                                                float64
egalite_pro                                                            float64
competences_parcours                                                   float64
sante_conditions_travail                                               float64
OCTO_total                                                             float64
statut6mois                                                             object
missions_taches                                                        float64
dtype: object

# Transformation Cloud

In [8]:
# Regroupement des colonnes pour moyennes + cr√©ation des nouvelles colonnes

columns_activites_tribu_cloud = DF_cloud[['tribu1', 'tribu2', 'tribu3', 'tribu4']]
data_cloud['activites_tribu'] = columns_activites_tribu_cloud.mean(axis=1, skipna=True)

columns_interactions_tribu_cloud = DF_cloud[['tribu5', 'tribu6', 'tribu7', 'tribu8']]
data_cloud['interactions_tribu'] = columns_interactions_tribu_cloud.mean(axis=1, skipna=True)

data_cloud['tribu_total'] = data_cloud[['activites_tribu', 'interactions_tribu']].mean(axis=1, skipna=True)

columns_activites_QA_cloud = DF_cloud[['QA1', 'QA2', 'QA3', 'QA4']]
data_cloud['activites_QA'] = columns_activites_QA_cloud.mean(axis=1, skipna=True)

columns_interactions_QA_cloud = DF_cloud[['QA5', 'QA6', 'QA7', 'QA8']]
data_cloud['interactions_QA'] = columns_interactions_QA_cloud.mean(axis=1, skipna=True)

data_cloud['QA_total'] = data_cloud[['activites_QA', 'interactions_QA']].mean(axis=1, skipna=True)

columns_manages_cloud = DF_cloud[['manages1', 'manages2', 'manages3']]
data_cloud['manages'] = columns_manages_cloud.mean(axis=1, skipna=True)

data_cloud['Es-tu manager/manageuse ?'] = DF_cloud['Es-tu manager/manageuse ? ']
data_cloud['Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?'] = DF_cloud['Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ? ']

columns_manager_cloud = DF_cloud[['manager1', 'manager2', 'manager3']]
data_cloud['manager'] = columns_manager_cloud.mean(axis=1, skipna=True)

columns_egalite_cloud = DF_cloud[['egalitepro1', 'egalitepro2', 'egalitepro3', 'egalitepro4']]
data_cloud['egalite_pro'] = columns_egalite_cloud.mean(axis=1, skipna=True)

columns_competences_cloud = DF_cloud[['competencesparcours1', 'competencesparcours2', 'competencesparcours3', 'competencesparcours4']]
data_cloud['competences_parcours'] = columns_competences_cloud.mean(axis=1, skipna=True)

columns_sante_cloud = DF_cloud[['santeconditions1', 'santeconditions2', 'santeconditions3', 'santeconditions4', 'santeconditions5']]
data_cloud['sante_conditions_travail'] = columns_sante_cloud.mean(axis=1, skipna=True)
                                                                                             
data_cloud['OCTO_total'] = data_cloud[['manages', 'manager', 'egalite_pro', 'competences_parcours', 'sante_conditions_travail']].mean(axis=1, skipna=True)

data_cloud['statut6mois'] = DF_cloud['statut6mois']

columns_missions_cloud = DF_cloud[['missions1', 'missions2', 'missions3', 'interco1', 'missionsinterco1', 'missionsinterco2', 'missionsinterco3', 'missionsinterco4', 'fonctionscoeur1', 'fonctionscoeur2']]
data_cloud['missions_taches'] = columns_missions_cloud.mean(axis=1, skipna=True)

/var/folders/2w/1fpsq_4n4n78qm_g9dv6j9sh0000gn/T/ipykernel_92857/3274041536.py:42: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data_cloud['missions_taches'] = columns_missions_cloud.mean(axis=1, skipna=True)

In [9]:
display(data_cloud.head())

,anciennete,campement,OFA,tribu,quartier,etabli,activites_tribu,interactions_tribu,tribu_total,activites_QA,...,manages,Es-tu manager/manageuse ?,"Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?",manager,egalite_pro,competences_parcours,sante_conditions_travail,OCTO_total,statut6mois,missions_taches
0,Plus de 7 ans,OCTO Paris,Oui,User Research,Cloud & Platform Engineering,Aucun,4.00,4.25,4.125,4.75,...,6.0,Non,NaN,NaN,4.25,3.75,4.2,4.5500,En mission chez un/des client(s),5.0
1,Moins de 1 an,OCTO Paris,Oui,User Research,Cloud & Platform Engineering,Aucun,5.00,5.50,5.250,3.75,...,6.0,Non,NaN,NaN,4.50,3.75,3.6,4.4625,En mission chez un/des client(s),3.0
2,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,Cloud & Platform Engineering,Aucun,5.25,4.50,4.875,5.25,...,6.0,Non,NaN,NaN,5.25,4.50,3.0,4.6875,En mission chez un/des client(s),4.0
3,Moins de 1 an,OCTO Paris,Oui,User Research,Cloud & Platform Engineering,Aucun,4.00,3.25,3.625,5.00,...,6.0,Non,NaN,NaN,5.50,2.75,3.6,4.4625,En mission chez un/des client(s),5.0
4,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,Cloud & Platform Engineering,Aucun,3.25,3.75,3.500,2.50,...,6.0,Non,NaN,NaN,3.50,3.50,3.2,4.0500,En mission chez un/des client(s),2.0

In [10]:
print(data_cloud.dtypes)

anciennete                                                              object
campement                                                               object
OFA                                                                     object
tribu                                                                   object
quartier                                                                object
etabli                                                                  object
activites_tribu                                                        float64
interactions_tribu                                                     float64
tribu_total                                                            float64
activites_QA                                                           float64
interactions_QA                                                        float64
QA_total                                                               float64
manages                                                                float64
Es-tu manager/manageuse ?                                               object
Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?    float64
manager                                                                float64
egalite_pro                                                            float64
competences_parcours                                                   float64
sante_conditions_travail                                               float64
OCTO_total                                                             float64
statut6mois                                                             object
missions_taches                                                        float64
dtype: object

# Transformation Data IA

In [11]:
# Regroupement des colonnes pour moyennes + cr√©ation des nouvelles colonnes

columns_activites_tribu_dataIA = DF_dataIA[['tribu1', 'tribu2', 'tribu3', 'tribu4']]
data_dataIA['activites_tribu'] = columns_activites_tribu_dataIA.mean(axis=1, skipna=True)

columns_interactions_tribu_dataIA = DF_dataIA[['tribu5', 'tribu6', 'tribu7', 'tribu8']]
data_dataIA['interactions_tribu'] = columns_interactions_tribu_dataIA.mean(axis=1, skipna=True)

data_dataIA['tribu_total'] = data_dataIA[['activites_tribu', 'interactions_tribu']].mean(axis=1, skipna=True)

columns_activites_QA_dataIA = DF_dataIA[['QA1', 'QA2', 'QA3', 'QA4']]
data_dataIA['activites_QA'] = columns_activites_QA_dataIA.mean(axis=1, skipna=True)

columns_interactions_QA_dataIA = DF_dataIA[['QA5', 'QA6', 'QA7', 'QA8']]
data_dataIA['interactions_QA'] = columns_interactions_QA_dataIA.mean(axis=1, skipna=True)

data_dataIA['QA_total'] = data_dataIA[['activites_QA', 'interactions_QA']].mean(axis=1, skipna=True)

columns_manages_dataIA = DF_dataIA[['manages1', 'manages2', 'manages3']]
data_dataIA['manages'] = columns_manages_dataIA.mean(axis=1, skipna=True)

data_dataIA['Es-tu manager/manageuse ?'] = DF_dataIA['Es-tu manager/manageuse ? ']
data_dataIA['Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?'] = DF_dataIA['Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ? ']

columns_manager_dataIA = DF_dataIA[['manager1', 'manager2', 'manager3']]
data_dataIA['manager'] = columns_manager_dataIA.mean(axis=1, skipna=True)

columns_egalite_dataIA = DF_dataIA[['egalitepro1', 'egalitepro2', 'egalitepro3', 'egalitepro4']]
data_dataIA['egalite_pro'] = columns_egalite_dataIA.mean(axis=1, skipna=True)

columns_competences_dataIA = DF_dataIA[['competencesparcours1', 'competencesparcours2', 'competencesparcours3', 'competencesparcours4']]
data_dataIA['competences_parcours'] = columns_competences_dataIA.mean(axis=1, skipna=True)

columns_sante_dataIA = DF_dataIA[['santeconditions1', 'santeconditions2', 'santeconditions3', 'santeconditions4', 'santeconditions5']]
data_dataIA['sante_conditions_travail'] = columns_sante_dataIA.mean(axis=1, skipna=True)
                                                                                             
data_dataIA['OCTO_total'] = data_dataIA[['manages', 'manager', 'egalite_pro', 'competences_parcours', 'sante_conditions_travail']].mean(axis=1, skipna=True)

data_dataIA['statut6mois'] = DF_dataIA['statut6mois']

columns_missions_dataIA = DF_dataIA[['missions1', 'missions2', 'missions3', 'interco1', 'missionsinterco1', 'missionsinterco2', 'missionsinterco3', 'missionsinterco4', 'fonctionscoeur1', 'fonctionscoeur2']]
data_dataIA['missions_taches'] = columns_missions_dataIA.mean(axis=1, skipna=True)

In [12]:
display(data_dataIA.head())

,anciennete,campement,OFA,tribu,quartier,etabli,activites_tribu,interactions_tribu,tribu_total,activites_QA,...,manages,Es-tu manager/manageuse ?,"Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?",manager,egalite_pro,competences_parcours,sante_conditions_travail,OCTO_total,statut6mois,missions_taches
0,Plus de 7 ans,OCTO Paris,Oui,User Research,Data & IA,Aucun,4.75,3.75,4.25,4.00,...,4.000000,Non,NaN,NaN,4.25,3.75,4.2,4.050000,En mission chez un/des client(s),4.333333
1,Moins de 1 an,OCTO Paris,Oui,User Research,Data & IA,Aucun,3.75,3.75,3.75,5.00,...,6.000000,Non,NaN,NaN,4.50,3.75,3.6,4.462500,En mission chez un/des client(s),3.333333
2,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,Data & IA,Aucun,5.25,2.75,4.00,5.25,...,4.333333,Non,NaN,NaN,5.25,4.50,3.0,4.270833,En mission chez un/des client(s),4.000000
3,Moins de 1 an,OCTO Paris,Oui,User Research,Data & IA,Aucun,5.00,5.00,5.00,4.00,...,3.000000,Non,NaN,NaN,5.50,2.75,3.6,3.712500,En mission chez un/des client(s),5.666667
4,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,Data & IA,Aucun,2.50,2.00,2.25,3.25,...,5.000000,Non,NaN,NaN,3.50,3.50,3.2,3.800000,En mission chez un/des client(s),2.333333

In [13]:
print(data_dataIA.dtypes)

anciennete                                                              object
campement                                                               object
OFA                                                                     object
tribu                                                                   object
quartier                                                                object
etabli                                                                  object
activites_tribu                                                        float64
interactions_tribu                                                     float64
tribu_total                                                            float64
activites_QA                                                           float64
interactions_QA                                                        float64
QA_total                                                               float64
manages                                                                float64
Es-tu manager/manageuse ?                                               object
Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?    float64
manager                                                                float64
egalite_pro                                                            float64
competences_parcours                                                   float64
sante_conditions_travail                                               float64
OCTO_total                                                             float64
statut6mois                                                             object
missions_taches                                                        float64
dtype: object

# Transformation Product & Design

In [14]:
# Regroupement des colonnes pour moyennes + cr√©ation des nouvelles colonnes

columns_activites_tribu_productdesign = DF_productdesign[['tribu1', 'tribu2', 'tribu3', 'tribu4']]
data_productdesign['activites_tribu'] = columns_activites_tribu_productdesign.mean(axis=1, skipna=True)

columns_interactions_tribu_productdesign = DF_productdesign[['tribu5', 'tribu6', 'tribu7', 'tribu8']]
data_productdesign['interactions_tribu'] = columns_interactions_tribu_productdesign.mean(axis=1, skipna=True)

data_productdesign['tribu_total'] = data_productdesign[['activites_tribu', 'interactions_tribu']].mean(axis=1, skipna=True)

columns_activites_QA_productdesign = DF_productdesign[['QA1', 'QA2', 'QA3', 'QA4']]
data_productdesign['activites_QA'] = columns_activites_QA_productdesign.mean(axis=1, skipna=True)

columns_interactions_QA_productdesign = DF_productdesign[['QA5', 'QA6', 'QA7', 'QA8']]
data_productdesign['interactions_QA'] = columns_interactions_QA_productdesign.mean(axis=1, skipna=True)

data_productdesign['QA_total'] = data_productdesign[['activites_QA', 'interactions_QA']].mean(axis=1, skipna=True)

columns_manages_productdesign = DF_productdesign[['manages1', 'manages2', 'manages3']]
data_productdesign['manages'] = columns_manages_productdesign.mean(axis=1, skipna=True)

data_productdesign['Es-tu manager/manageuse ?'] = DF_productdesign['Es-tu manager/manageuse ? ']
data_productdesign['Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?'] = DF_productdesign['Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ? ']

columns_manager_productdesign = DF_productdesign[['manager1', 'manager2', 'manager3']]
data_productdesign['manager'] = columns_manager_productdesign.mean(axis=1, skipna=True)

columns_egalite_productdesign = DF_productdesign[['egalitepro1', 'egalitepro2', 'egalitepro3', 'egalitepro4']]
data_productdesign['egalite_pro'] = columns_egalite_productdesign.mean(axis=1, skipna=True)

columns_competences_productdesign = DF_productdesign[['competencesparcours1', 'competencesparcours2', 'competencesparcours3', 'competencesparcours4']]
data_productdesign['competences_parcours'] = columns_competences_productdesign.mean(axis=1, skipna=True)

columns_sante_productdesign = DF_productdesign[['santeconditions1', 'santeconditions2', 'santeconditions3', 'santeconditions4', 'santeconditions5']]
data_productdesign['sante_conditions_travail'] = columns_sante_productdesign.mean(axis=1, skipna=True)
                                                                                             
data_productdesign['OCTO_total'] = data_productdesign[['manages', 'manager', 'egalite_pro', 'competences_parcours', 'sante_conditions_travail']].mean(axis=1, skipna=True)

data_productdesign['statut6mois'] = DF_productdesign['statut6mois']

columns_missions_productdesign = DF_productdesign[['missions1', 'missions2', 'missions3', 'interco1', 'missionsinterco1', 'missionsinterco2', 'missionsinterco3', 'missionsinterco4', 'fonctionscoeur1', 'fonctionscoeur2']]
data_productdesign['missions_taches'] = columns_missions_productdesign.mean(axis=1, skipna=True)

/var/folders/2w/1fpsq_4n4n78qm_g9dv6j9sh0000gn/T/ipykernel_92857/2804163882.py:42: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data_productdesign['missions_taches'] = columns_missions_productdesign.mean(axis=1, skipna=True)

In [15]:
display(data_productdesign.head())

,anciennete,campement,OFA,tribu,etabli,quartier,activites_tribu,interactions_tribu,tribu_total,activites_QA,...,manages,Es-tu manager/manageuse ?,"Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?",manager,egalite_pro,competences_parcours,sante_conditions_travail,OCTO_total,statut6mois,missions_taches
0,Plus de 7 ans,OCTO Paris,Oui,User Research,Design,Product & Design,4.75,3.75,4.25,4.5,...,6.0,Non,NaN,NaN,4.25,3.75,4.2,4.5500,En mission chez un/des client(s),5.0
1,Moins de 1 an,OCTO Paris,Oui,User Research,Design,Product & Design,3.75,3.75,3.75,4.5,...,6.0,Non,NaN,NaN,4.50,3.75,3.6,4.4625,En mission chez un/des client(s),3.0
2,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,Design,Product & Design,5.25,2.75,4.00,4.5,...,6.0,Non,NaN,NaN,5.25,4.50,3.0,4.6875,En mission chez un/des client(s),4.0
3,Moins de 1 an,OCTO Paris,Oui,User Research,Design,Product & Design,5.00,5.00,5.00,4.5,...,6.0,Non,NaN,NaN,5.50,2.75,3.6,4.4625,En mission chez un/des client(s),5.0
4,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,Design,Product & Design,2.50,2.00,2.25,4.5,...,6.0,Non,NaN,NaN,3.50,3.50,3.2,4.0500,En mission chez un/des client(s),2.0

In [16]:
print(data_productdesign.dtypes)

anciennete                                                              object
campement                                                               object
OFA                                                                     object
tribu                                                                   object
etabli                                                                  object
quartier                                                                object
activites_tribu                                                        float64
interactions_tribu                                                     float64
tribu_total                                                            float64
activites_QA                                                           float64
interactions_QA                                                        float64
QA_total                                                               float64
manages                                                                float64
Es-tu manager/manageuse ?                                               object
Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?    float64
manager                                                                float64
egalite_pro                                                            float64
competences_parcours                                                   float64
sante_conditions_travail                                               float64
OCTO_total                                                             float64
statut6mois                                                             object
missions_taches                                                        float64
dtype: object

# Transformation Software engineering

In [17]:
# Regroupement des colonnes pour moyennes + cr√©ation des nouvelles colonnes

columns_activites_tribu_softeng = DF_softeng[['tribu1', 'tribu2', 'tribu3', 'tribu4']]
data_softeng['activites_tribu'] = columns_activites_tribu_softeng.mean(axis=1, skipna=True)

columns_interactions_tribu_softeng = DF_softeng[['tribu5', 'tribu6', 'tribu7', 'tribu8']]
data_softeng['interactions_tribu'] = columns_interactions_tribu_softeng.mean(axis=1, skipna=True)

data_softeng['tribu_total'] = data_softeng[['activites_tribu', 'interactions_tribu']].mean(axis=1, skipna=True)

columns_activites_QA_softeng = DF_softeng[['QA1', 'QA2', 'QA3', 'QA4']]
data_softeng['activites_QA'] = columns_activites_QA_softeng.mean(axis=1, skipna=True)

columns_interactions_QA_softeng = DF_softeng[['QA5', 'QA6', 'QA7', 'QA8']]
data_softeng['interactions_QA'] = columns_interactions_QA_softeng.mean(axis=1, skipna=True)

data_softeng['QA_total'] = data_softeng[['activites_QA', 'interactions_QA']].mean(axis=1, skipna=True)

columns_manages_softeng = DF_softeng[['manages1', 'manages2', 'manages3']]
data_softeng['manages'] = columns_manages_softeng.mean(axis=1, skipna=True)

data_softeng['Es-tu manager/manageuse ?'] = DF_softeng['Es-tu manager/manageuse ? ']
data_softeng['Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?'] = DF_softeng['Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ? ']

columns_manager_softeng = DF_softeng[['manager1', 'manager2', 'manager3']]
data_softeng['manager'] = columns_manager_softeng.mean(axis=1, skipna=True)

columns_egalite_softeng = DF_softeng[['egalitepro1', 'egalitepro2', 'egalitepro3', 'egalitepro4']]
data_softeng['egalite_pro'] = columns_egalite_softeng.mean(axis=1, skipna=True)

columns_competences_softeng = DF_softeng[['competencesparcours1', 'competencesparcours2', 'competencesparcours3', 'competencesparcours4']]
data_softeng['competences_parcours'] = columns_competences_softeng.mean(axis=1, skipna=True)

columns_sante_softeng = DF_softeng[['santeconditions1', 'santeconditions2', 'santeconditions3', 'santeconditions4', 'santeconditions5']]
data_softeng['sante_conditions_travail'] = columns_sante_softeng.mean(axis=1, skipna=True)
                                                                                             
data_softeng['OCTO_total'] = data_softeng[['manages', 'manager', 'egalite_pro', 'competences_parcours', 'sante_conditions_travail']].mean(axis=1, skipna=True)

data_softeng['statut6mois'] = DF_softeng['statut6mois']

columns_missions_softeng = DF_softeng[['missions1', 'missions2', 'missions3', 'interco1', 'missionsinterco1', 'missionsinterco2', 'missionsinterco3', 'missionsinterco4', 'fonctionscoeur1', 'fonctionscoeur2']]
data_softeng['missions_taches'] = columns_missions_softeng.mean(axis=1, skipna=True)

In [18]:
display(data_softeng.head())

,anciennete,campement,OFA,tribu,etabli,quartier,activites_tribu,interactions_tribu,tribu_total,activites_QA,...,manages,Es-tu manager/manageuse ?,"Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?",manager,egalite_pro,competences_parcours,sante_conditions_travail,OCTO_total,statut6mois,missions_taches
0,Plus de 7 ans,OCTO Paris,Oui,User Research,Web front,Software engineering,4.75,3.75,4.25,4.75,...,4.000000,Non,NaN,NaN,4.25,3.75,4.2,4.050000,En mission chez un/des client(s),4.333333
1,Moins de 1 an,OCTO Paris,Oui,User Research,Web front,Software engineering,3.75,3.75,3.75,3.75,...,6.000000,Non,NaN,NaN,4.50,3.75,3.6,4.462500,En mission chez un/des client(s),3.333333
2,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,Web front,Software engineering,5.25,2.75,4.00,5.25,...,4.333333,Non,NaN,NaN,5.25,4.50,3.0,4.270833,En mission chez un/des client(s),4.000000
3,Moins de 1 an,OCTO Paris,Oui,User Research,A,Software engineering,5.00,5.00,5.00,5.00,...,3.000000,Non,NaN,NaN,5.50,2.75,3.6,3.712500,En mission chez un/des client(s),5.666667
4,Entre 3 et 7 ans,OCTO Paris,Oui,User Research,A,Software engineering,2.50,2.00,2.25,2.50,...,5.000000,Non,NaN,NaN,3.50,3.50,3.2,3.800000,En mission chez un/des client(s),2.333333

In [19]:
print(data_softeng.dtypes)

anciennete                                                              object
campement                                                               object
OFA                                                                     object
tribu                                                                   object
etabli                                                                  object
quartier                                                                object
activites_tribu                                                        float64
interactions_tribu                                                     float64
tribu_total                                                            float64
activites_QA                                                           float64
interactions_QA                                                        float64
QA_total                                                               float64
manages                                                                float64
Es-tu manager/manageuse ?                                               object
Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?    float64
manager                                                                float64
egalite_pro                                                            float64
competences_parcours                                                   float64
sante_conditions_travail                                               float64
OCTO_total                                                             float64
statut6mois                                                             object
missions_taches                                                        float64
dtype: object

# Transformation Mairie/Frugarilla/Campus

In [20]:
# Regroupement des colonnes pour moyennes + cr√©ation des nouvelles colonnes

columns_activites_tribu_mairie_frug_campus = DF_mairie_frug_campus[['tribu1', 'tribu2', 'tribu3', 'tribu4']]
data_mairie_frug_campus['activites_tribu'] = columns_activites_tribu_mairie_frug_campus.mean(axis=1, skipna=True)

columns_interactions_tribu_mairie_frug_campus = DF_mairie_frug_campus[['tribu5', 'tribu6', 'tribu7', 'tribu8']]
data_mairie_frug_campus['interactions_tribu'] = columns_interactions_tribu_mairie_frug_campus.mean(axis=1, skipna=True)

data_mairie_frug_campus['tribu_total'] = data_mairie_frug_campus[['activites_tribu', 'interactions_tribu']].mean(axis=1, skipna=True)

columns_activites_QA_mairie_frug_campus = DF_mairie_frug_campus[['QA1', 'QA2', 'QA3', 'QA4']]
data_mairie_frug_campus['activites_QA'] = columns_activites_QA_mairie_frug_campus.mean(axis=1, skipna=True)

columns_interactions_QA_mairie_frug_campus = DF_mairie_frug_campus[['QA5', 'QA6', 'QA7', 'QA8']]
data_mairie_frug_campus['interactions_QA'] = columns_interactions_QA_mairie_frug_campus.mean(axis=1, skipna=True)

data_mairie_frug_campus['QA_total'] = data_mairie_frug_campus[['activites_QA', 'interactions_QA']].mean(axis=1, skipna=True)

columns_manages_mairie_frug_campus = DF_mairie_frug_campus[['manages1', 'manages2', 'manages3']]
data_mairie_frug_campus['manages'] = columns_manages_mairie_frug_campus.mean(axis=1, skipna=True)

data_mairie_frug_campus['Es-tu manager/manageuse ?'] = DF_mairie_frug_campus['Es-tu manager/manageuse ? ']
data_mairie_frug_campus['Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?'] = DF_mairie_frug_campus['Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ? ']

columns_manager_mairie_frug_campus = DF_mairie_frug_campus[['manager1', 'manager2', 'manager3']]
data_mairie_frug_campus['manager'] = columns_manager_mairie_frug_campus.mean(axis=1, skipna=True)

columns_egalite_mairie_frug_campus = DF_mairie_frug_campus[['egalitepro1', 'egalitepro2', 'egalitepro3', 'egalitepro4']]
data_mairie_frug_campus['egalite_pro'] = columns_egalite_mairie_frug_campus.mean(axis=1, skipna=True)

columns_competences_mairie_frug_campus = DF_mairie_frug_campus[['competencesparcours1', 'competencesparcours2', 'competencesparcours3', 'competencesparcours4']]
data_mairie_frug_campus['competences_parcours'] = columns_competences_mairie_frug_campus.mean(axis=1, skipna=True)

columns_sante_mairie_frug_campus = DF_mairie_frug_campus[['santeconditions1', 'santeconditions2', 'santeconditions3', 'santeconditions4', 'santeconditions5']]
data_mairie_frug_campus['sante_conditions_travail'] = columns_sante_mairie_frug_campus.mean(axis=1, skipna=True)
                                                                                             
data_mairie_frug_campus['OCTO_total'] = data_mairie_frug_campus[['manages', 'manager', 'egalite_pro', 'competences_parcours', 'sante_conditions_travail']].mean(axis=1, skipna=True)

data_mairie_frug_campus['statut6mois'] = DF_mairie_frug_campus['statut6mois']

columns_missions_mairie_frug_campus = DF_mairie_frug_campus[['missions1', 'missions2', 'missions3', 'interco1', 'missionsinterco1', 'missionsinterco2', 'missionsinterco3', 'missionsinterco4', 'fonctionscoeur1', 'fonctionscoeur2']]
data_mairie_frug_campus['missions_taches'] = columns_missions_mairie_frug_campus.mean(axis=1, skipna=True)

/var/folders/2w/1fpsq_4n4n78qm_g9dv6j9sh0000gn/T/ipykernel_92857/2391782531.py:42: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data_mairie_frug_campus['missions_taches'] = columns_missions_mairie_frug_campus.mean(axis=1, skipna=True)

In [21]:
display(data_mairie_frug_campus.head())

,anciennete,campement,OFA,quartier,tribu,etabli,activites_tribu,interactions_tribu,tribu_total,activites_QA,...,manages,Es-tu manager/manageuse ?,"Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?",manager,egalite_pro,competences_parcours,sante_conditions_travail,OCTO_total,statut6mois,missions_taches
0,Plus de 7 ans,OCTO Paris,Oui,Mairie,User Research,Aucun,4.25,5.0,4.625,4.75,...,6.0,Non,NaN,NaN,4.25,3.75,4.2,4.5500,fonctions coeur,NaN
1,Moins de 1 an,OCTO Paris,Oui,Mairie,User Research,Aucun,4.00,3.5,3.750,3.75,...,6.0,Non,NaN,NaN,4.50,3.75,3.6,4.4625,fonctions coeur,4.0
2,Entre 3 et 7 ans,OCTO Paris,Oui,Mairie,User Research,Aucun,3.25,4.0,3.625,5.25,...,6.0,Non,NaN,NaN,5.25,4.50,3.0,4.6875,fonctions coeur,5.5
3,Moins de 1 an,OCTO Paris,Oui,Mairie,User Research,Aucun,5.25,4.5,4.875,5.00,...,6.0,Non,NaN,NaN,5.50,2.75,3.6,4.4625,fonctions coeur,3.5
4,Entre 3 et 7 ans,OCTO Paris,Oui,Mairie,User Research,Aucun,4.50,6.5,5.500,2.50,...,6.0,Non,NaN,NaN,3.50,3.50,3.2,4.0500,fonctions coeur,1.5

In [22]:
print(data_mairie_frug_campus.dtypes)

anciennete                                                              object
campement                                                               object
OFA                                                                     object
quartier                                                                object
tribu                                                                   object
etabli                                                                  object
activites_tribu                                                        float64
interactions_tribu                                                     float64
tribu_total                                                            float64
activites_QA                                                           float64
interactions_QA                                                        float64
QA_total                                                               float64
manages                                                                float64
Es-tu manager/manageuse ?                                               object
Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?    float64
manager                                                                float64
egalite_pro                                                            float64
competences_parcours                                                   float64
sante_conditions_travail                                               float64
OCTO_total                                                             float64
statut6mois                                                             object
missions_taches                                                        float64
dtype: object

In [23]:
# Chemin relatif pour aller du dossier actuel au dossier 'Analyses par quartier'
relative_path = '../Analyses par quartier/'

# Initialiser un dictionnaire pour stocker les DataFrames
dataframes = {}

# Liste des quartiers
quartiers_mairiefrugcampus = ['Mairie', 'Frugarilla', 'Campus']

for quartier in quartiers_mairiefrugcampus:
    # Cr√©er la cl√© du dictionnaire bas√©e sur le nom du quartier
    key = f"data_{quartier}"

    # Filtrer le DataFrame pour le quartier actuel et stocker dans le dictionnaire
    dataframes[key] = data_mairie_frug_campus.loc[data_mairie_frug_campus['quartier'] == quartier]

    # Cr√©er le chemin complet pour le fichier CSV
    filename = f"{quartier}_analyses_Novembre2023_fictif.csv"
    full_path = os.path.join(relative_path, filename)

    # Sauvegarder le DataFrame filtr√© dans un fichier CSV dans le dossier sp√©cifi√©
    dataframes[key].to_csv(full_path, index=False)
    
# Afficher les premi√®res lignes de chaque DataFrame stock√© dans le dictionnaire
for key, dataframe in dataframes.items():
    print(f"Aper√ßu du DataFrame pour {key}:")
    print(dataframe.head())  # Affiche les 5 premi√®res lignes de chaque DataFrame
    print("\n")  # Ajoute une ligne vide pour s√©parer les aper√ßus

Aper√ßu du DataFrame pour data_Mairie:
         anciennete   campement  OFA quartier          tribu etabli  \
0     Plus de 7 ans  OCTO Paris  Oui   Mairie  User Research  Aucun
1     Moins de 1 an  OCTO Paris  Oui   Mairie  User Research  Aucun
2  Entre 3 et 7 ans  OCTO Paris  Oui   Mairie  User Research  Aucun
3     Moins de 1 an  OCTO Paris  Oui   Mairie  User Research  Aucun
4  Entre 3 et 7 ans  OCTO Paris  Oui   Mairie  User Research  Aucun

   activites_tribu  interactions_tribu  tribu_total  activites_QA  ...  \
0             4.25                 5.0        4.625          4.75  ...
1             4.00                 3.5        3.750          3.75  ...
2             3.25                 4.0        3.625          5.25  ...
3             5.25                 4.5        4.875          5.00  ...
4             4.50                 6.5        5.500          2.50  ...

   manages  Es-tu manager/manageuse ?  \
0      6.0                        Non
1      6.0                        Non
2      6.0                        Non
3      6.0                        Non
4      6.0                        Non

   Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  manager  egalite_pro  competences_parcours  sante_conditions_travail  \
0     NaN         4.25                  3.75                       4.2
1     NaN         4.50                  3.75                       3.6
2     NaN         5.25                  4.50                       3.0
3     NaN         5.50                  2.75                       3.6
4     NaN         3.50                  3.50                       3.2

   OCTO_total      statut6mois  missions_taches
0      4.5500  fonctions coeur              NaN
1      4.4625  fonctions coeur              4.0
2      4.6875  fonctions coeur              5.5
3      4.4625  fonctions coeur              3.5
4      4.0500  fonctions coeur              1.5

[5 rows x 22 columns]


Aper√ßu du DataFrame pour data_Frugarilla:
Empty DataFrame
Columns: [anciennete, campement, OFA, quartier, tribu, etabli, activites_tribu, interactions_tribu, tribu_total, activites_QA, interactions_QA, QA_total, manages, Es-tu manager/manageuse ?, Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?, manager, egalite_pro, competences_parcours, sante_conditions_travail, OCTO_total, statut6mois, missions_taches]
Index: []

[0 rows x 22 columns]


Aper√ßu du DataFrame pour data_Campus:
Empty DataFrame
Columns: [anciennete, campement, OFA, quartier, tribu, etabli, activites_tribu, interactions_tribu, tribu_total, activites_QA, interactions_QA, QA_total, manages, Es-tu manager/manageuse ?, Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?, manager, egalite_pro, competences_parcours, sante_conditions_travail, OCTO_total, statut6mois, missions_taches]
Index: []

[0 rows x 22 columns]

# Desrciption Echantillon par Quartier/Atelier

In [24]:
effectif_data_forum = len(data_forum)
effectif_data_cloud = len(data_cloud)
effectif_data_dataIA = len(data_dataIA)
effectif_data_productdesign = len(data_productdesign)
effectif_data_softeng = len(data_softeng)
effectif_data_mairie_frug_campus = data_mairie_frug_campus['quartier'].value_counts()

print("L'effectif total de l'√©chantillon forum est :", effectif_data_forum)
print("L'effectif total de l'√©chantillon cloud est :", effectif_data_cloud)
print("L'effectif total de l'√©chantillon dataIA est :", effectif_data_dataIA)
print("L'effectif total de l'√©chantillon product & design est :", effectif_data_productdesign)
print("L'effectif total de l'√©chantillon soft eng est :", effectif_data_softeng)
print("L'effectif total des autres quartiers sont :", effectif_data_mairie_frug_campus)

L'effectif total de l'√©chantillon forum est : 87
L'effectif total de l'√©chantillon cloud est : 56
L'effectif total de l'√©chantillon dataIA est : 67
L'effectif total de l'√©chantillon product & design est : 94
L'effectif total de l'√©chantillon soft eng est : 86
L'effectif total des autres quartiers sont : Mairie    100
Name: quartier, dtype: int64

# T√©l√©chargement des fichiers csv

In [25]:
# Chemin relatif pour aller du dossier 'Nettoyage des donn√©es' au dossier 'Analyses par quartier'
relative_path = '../Analyses par quartier/'

# Assurez-vous que le dossier de destination existe, sinon cr√©ez-le
if not os.path.exists(relative_path):
    os.makedirs(relative_path)

# Exemple d'enregistrement d'un DataFrame dans le dossier 'Analyses par quartier'
data_forum.to_csv(relative_path + 'forum_analyses_novembre2023_fictif.csv', index=False)
data_cloud.to_csv(relative_path + 'cloud_analyses_novembre2023_fictif.csv', index=False)
data_dataIA.to_csv(relative_path + 'dataIA_analyses_novembre2023_fictif.csv', index=False)
data_productdesign.to_csv(relative_path + 'productdesign_analyses_novembre2023_fictif.csv', index=False)
data_softeng.to_csv(relative_path + 'softeng_analyses_novembre2023_fictif.csv', index=False)

# Cr√©ation d'un fichier csv avec tous les QA

In [26]:
# Liste de tous vos DataFrames
dataframes = [data_forum, data_cloud, data_dataIA, data_productdesign, data_softeng, data_mairie_frug_campus]

# Choisissez l'ordre des colonnes de l'un des DataFrames ou d√©finissez-le manuellement
# Ici, je choisis l'ordre des colonnes de data_forum comme r√©f√©rence
columns_order = data_forum.columns.tolist()

# R√©ordonner les colonnes dans chaque DataFrame selon cet ordre
for df in dataframes:
    df = df[columns_order]

# Concat√©ner tous les DataFrames
final_data = pd.concat(dataframes, ignore_index=True)

# Afficher les premi√®res lignes du DataFrame r√©sultant pour v√©rification
print(final_data.head())

# Chemin relatif pour aller du dossier 'Nettoyage des donn√©es' au dossier 'Analyses globales'
relative_path_to_global = '../Analyses globales/'

# Nom du fichier CSV final
filename = 'OHC_Python_MMYYYY_FICTIF.csv'

# Cr√©er le dossier si n√©cessaire
if not os.path.exists(relative_path_to_global):
    os.makedirs(relative_path_to_global)

# Enregistrer le DataFrame concat√©n√© dans le dossier 'Analyses globales'
final_path = os.path.join(relative_path_to_global, filename)
final_data.to_csv(final_path, index=False)

print(f"Le fichier a √©t√© enregistr√© avec succ√®s √† l'emplacement : {final_path}")

         anciennete   campement  OFA          tribu quartier etabli  \
0     Plus de 7 ans  OCTO Paris  Oui  User Research    Forum  Aucun
1     Moins de 1 an  OCTO Paris  Oui  User Research    Forum  Aucun
2  Entre 3 et 7 ans  OCTO Paris  Oui  User Research    Forum  Aucun
3     Moins de 1 an  OCTO Paris  Oui  User Research    Forum  Aucun
4  Entre 3 et 7 ans  OCTO Paris  Oui  User Research    Forum  Aucun

   activites_tribu  interactions_tribu  tribu_total  activites_QA  ...  \
0             4.75                3.75         4.25          4.00  ...
1             3.75                3.75         3.75          5.00  ...
2             5.25                2.75         4.00          5.25  ...
3             5.00                5.00         5.00          4.00  ...
4             2.50                2.00         2.25          3.25  ...

    manages  Es-tu manager/manageuse ?  \
0  4.000000                        Non
1  6.000000                        Non
2  4.333333                        Non
3  3.000000                        Non
4  5.000000                        Non

   Si tu es manager/manageuse, combien de manag√©.e.s direct(s) as-tu ?  \
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

  manager  egalite_pro  competences_parcours  sante_conditions_travail  \
0     NaN         4.25                  3.75                       4.2
1     NaN         4.50                  3.75                       3.6
2     NaN         5.25                  4.50                       3.0
3     NaN         5.50                  2.75                       3.6
4     NaN         3.50                  3.50                       3.2

   OCTO_total                       statut6mois  missions_taches
0    4.050000  En mission chez un/des client(s)              5.0
1    4.462500  En mission chez un/des client(s)              3.0
2    4.270833  En mission chez un/des client(s)              4.0
3    3.712500  En mission chez un/des client(s)              5.0
4    3.800000  En mission chez un/des client(s)              2.0

[5 rows x 22 columns]
Le fichier a √©t√© enregistr√© avec succ√®s √† l'emplacement : ../Analyses globales/OHC_Python_MMYYYY_FICTIF.csv